opencv-python==4.1.1.26
lxml
tqdm
tensorflow==2.3.0rc0
absl-py
easydict
matplotlib
pillow
pytesseract
Flask==0.10.1
Jinja2==2.7.3
MarkupSafe==0.23
itsdangerous==0.24
pyngrok
numpy==1.16
msgpack
werkzeug==0.11.15